*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --display:flex;
    --bordaSelecionada:white
}


.caixaJogadores{
    width: 100%; 
    min-height: 100vh;
    background-image: url(/src/fundoGame.jpg);
    background-size: cover;
    background-position: bottom;
    padding-top: 50px;
    display: var(--display);
    flex-direction: column;
    align-items: center; 
}

.esconderPersonagens{
    --display:none;
}

.caixaJogadores h1{
    font-size: 50px;
    color: brown;
    text-shadow: 5px 5px 25px silver;   
}

.caixaJogadores img{
    cursor: pointer;
    height: 200px;
    border: 4px solid var(--bordaSelecionada);
}

.personagemSelecionado{
    --bordaSelecionada: green;
}

.personagens{
    margin: 50px auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(30, 151, 195);
    padding: 15px;
}

.botaoJogar{
    width: 300px;
    height: 70px;
    font-size: 40px;
    font-weight: 600;
    border: none;
    background-color: yellowgreen;
    color: darkgreen;
}

.botaoJogar:hover{
    border-radius: 25px;
    background-color: greenyellow;
    color: brown;
}

@media screen and (max-width:980px) {
    .caixaJogadores img{
        
        
    }

    .caixaJogadores h1{
        font-size: 25px ;
    }

    .personagens{
        margin: 0;
    }
}